In [1]:
import pandas as pd
import os

project_dir = os.path.join(os.getcwd(), '..')
os.chdir(project_dir)
csv_relative_path = os.path.join('data', 'accident.csv')
csv_path = os.path.join(project_dir, csv_relative_path)

df = pd.read_csv(csv_path)
df.head()

,CASENUM,PSU,PSU_VAR,PSUSTRAT,REGION,REGIONNAME,URBANICITY,URBANICITYNAME,STRATUM,STRATUMNAME,...,MAXSEV_IM,MAXSEV_IMNAME,NUM_INJ,NUM_INJNAME,NO_INJ_IM,NO_INJ_IMNAME,ALCOHOL,ALCOHOLNAME,ALCHL_IM,ALCHL_IMNAME
0,202102916823,51,51,10,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",1,Urban Area,10,Stratum 10 - Other,...,0,No Apparent Injury (O),0,No Person Injured/Property Damage Only Crash,0,No Person Injured/Property Damage Only Crash,2,No Alcohol Involved,2,No Alcohol Involved
1,202102918622,20,20,25,4,"West (MT, ID, WA, OR, CA, NV, NM, AZ, UT, CO, ...",2,Rural Area,10,Stratum 10 - Other,...,0,No Apparent Injury (O),0,No Person Injured/Property Damage Only Crash,0,No Person Injured/Property Damage Only Crash,2,No Alcohol Involved,2,No Alcohol Involved
2,202102918654,75,75,19,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",2,Rural Area,10,Stratum 10 - Other,...,0,No Apparent Injury (O),0,No Person Injured/Property Damage Only Crash,0,No Person Injured/Property Damage Only Crash,2,No Alcohol Involved,2,No Alcohol Involved
3,202102918674,40,40,15,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",1,Urban Area,9,Stratum 9 - LMY PV No Injuries in Crash,...,0,No Apparent Injury (O),0,No Person Injured/Property Damage Only Crash,0,No Person Injured/Property Damage Only Crash,9,Reported as Unknown,2,No Alcohol Involved
4,202102918705,22,22,5,1,"Northeast (PA, NJ, NY, NH, VT, RI, MA, ME, CT)",2,Rural Area,6,Stratum 6 - LMY PV Minor Injury,...,2,Suspected Minor Injury (B),1,1,1,1,2,No Alcohol Involved,2,No Alcohol Involved

In [2]:
region_names = df['REGIONNAME'].unique()
for region in region_names:
    print(region)

South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA, FL, AL, MS, LA, AR, OK, TX)
West (MT, ID, WA, OR, CA, NV, NM, AZ, UT, CO, WY, AK, HI)
Northeast (PA, NJ, NY, NH, VT, RI, MA, ME, CT)
Midwest (OH, IN, IL, MI, WI, MN, ND, SD, NE, IA, MO, KS)